parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/CoordinatesAbstract.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesImmutableTest\\:\\:testInvalidFromString\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/CoordinatesImmutableTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesImmutableTest\\:\\:testIsInPolygon\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/CoordinatesImmutableTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesImmutableTest\\:\\:testIsInPolygon\\(\\) has parameter \\$lat with no type specified\\.$#"
			count: 1
			path: tests/CoordinatesImmutableTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesImmutableTest\\:\\:testIsInPolygon\\(\\) has parameter \\$lon with no type specified\\.$#"
			count: 1
			path: tests/CoordinatesImmutableTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesImmutableTest\\:\\:testIsInPolygon\\(\\) has parameter \\$polygon with no type specified\\.$#"
			count: 1
			path: tests/CoordinatesImmutableTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesImmutableTest\\:\\:testValidFromString\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/CoordinatesImmutableTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesTest\\:\\:testInvalidFromString\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/CoordinatesTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesTest\\:\\:testIsInPolygon\\(\\) has parameter \\$lat with no type specified\\.$#"
			count: 1
			path: tests/CoordinatesTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesTest\\:\\:testIsInPolygon\\(\\) has parameter \\$lon with no type specified\\.$#"
			count: 1
			path: tests/CoordinatesTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesTest\\:\\:testIsInPolygon\\(\\) has parameter \\$polygon with no type specified\\.$#"
			count: 1
			path: tests/CoordinatesTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesTest\\:\\:testValidFromString\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/CoordinatesTest.php

		-
			message: "#^Method DJTommek\\\\Coordinates\\\\Tests\\\\CoordinatesTestAbstract\\:\\:polygonsProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/CoordinatesTestAbstract.php
